<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
	
	<style>
body { 
    background-image: url(bootstrap/image/.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
</style>
	
<style>
table {
	border-collapse: collapse;
	width: 30%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #4CAF50;
	color: white;
}
body {
    background-color:#DFCFBE;
}
</style>
</head>
<body>
<h2 style="font-family:courier;"><b>Create event.....</b></h2>

<div ng-controller = "EventController as ctrl">
<form class="form" name="form" ng-submit="ctrl.registerEvent()" role="form">
<table border="3px">




<tr>
<td><b>name</b></td>
<td> <input type="name" ng-model="event.name" required="true"></td>
</tr>

<tr>
<td><b>venue</b></td>
<td><input type="venue" ng-model="event.venue" required="true"> </td>
</tr>
<tr>
<td><b>description</b></td>
<td><textarea ng-model="event.description" rows="4" cols="50" required="true"></textarea></td>
</tr>


<tr>
<td><b>date_time</b></td>
<td><input type="date_time" ng-model="event.date_time" required="true"></td>
</tr>


<tr>

<td> <input class="btn btn-success" value="submit" type="submit"></td>
<td> <input  class="btn btn-warning"type="reset" ></td>
</tr>






</table>
</form>
</div>
</body>
</html>