<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
table {
	border-collapse: collapse;
	width: 30%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #4CAF50;
	color: white;
}
body {
    background-color:#DFCFBE;
}
body {
    background-image: url(bootstrap/image/6.png);
    background-color: ;
}
</style>

</head>
<body>
<div align="center">
        <form method="post" action="http://localhost:8080/CollaborationRestController/doUpload" enctype="multipart/form-data">
            <table border="2px">
                <tr>
                    <td><b>Profile pic:</b></td>
                    <td><input class="btn btn-info" type="file" name="uploadFile" /></td>
                </tr>
             
                <tr>
                    <td colspan="2" align="center"><input type="submit" class="btn btn-success" value="Upload" /></td>
                </tr>
                
                
            </table>
        </form>
    </div>
</body>
</html>