<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title><style>



.floating-box {
    float: left;
    width: 650px;
    height: 300px;
    margin: 10px;
    border: 3px solid #73AD21;  
}
</style>
</head>
<body>

<ul><li><h5>This is site for the collaborating with the people.where the students and alumini can communicate and get updates on jobs and events etc....</h5></li>
<li><h5>we can create blogs and we can apply for job based on the eligibility</h5></li>
<li><h5>we can sed friend request to other people and we can chit chat wid friends</h5></li>
<li><h5>we can keep our chat privately.we can celebrate lot of events and post the events</h5></li></ul>

<div class="floating-box"><img src="bootstrap/image/11.jpg" alt="" width="650" height="300"></img></div>
<div class="floating-box"><img src="bootstrap/image/12.jpg" alt="" width="650" height="300"></img></div>
<div class="floating-box"><img src="bootstrap/image/13.jpg" alt="" width="650" height="300"></img></div>
<div class="floating-box"><img src="bootstrap/image/14.jpg" alt="" width="650" height="300"></img></div>




</body>

<body>
<div class="navbar-bottom navbar-inverse" role="navigation">
<div class="row">
<div class="col-xs-6 col-md-3">


</div>
<div class="col-xs-6 col-md-3"> 
<p></p><br> 
<p style="color:#ff00ff;"></p> 
</div>
<!-- <div class="col-xs-6 col-md-3"> -->
<!-- <li><a href="feedback">Feedback</a></li> -->
<!-- </div> -->

<div class="col-xs-6 col-md-3">
<u><p  style="color:#ff00ff;">Connect With US</p></u>
<li><a href="https://www.facebook.com">Facebook</a></li>
<li><a href="https://www.twitter.com">Twitter</a></li>
<li><a href="https://www.instagram.com">Instagram</a></li>
<li><a href="https://www.gmail.com">Gmail</a></li>
</div>

</div>
</div>
</body>



</head>

</html>